
body {


    margin: 0;
    padding: 0;
    background-image: url("w.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat font-family: "Arial", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    font-family: "Poppins", sans-serif;
}*/

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-box {
    width: 1000px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    color: #fffefe;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
}


.input-box {
    text-align: left;
    margin-bottom: 20px;
}

.input-box label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: block;
}

.input-box input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}



button {
    background-color: #94cff1;
    color: rgb(11, 1, 1);
    
    padding: 12px 24px;
    
    border: none;
    
    border-radius: 8px;
    
    cursor: pointer;
    
    font-size: 16px;
    
    transition: background-color 0.3s, transform 0.2s;
}


button:hover {
    background-color: #2070cb;
    
    transform: scale(1.05);
   
}


button:active {
    background-color: #3393b6;
    transform: scale(0.98);
    
}


button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

caption {
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    background: #b8d7b9;
    color: white;
}

th {
    background: #4fa1dc;
    color: rgb(12, 2, 2);
    padding: 12px;
    text-transform: uppercase;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: rgb(9, 1, 1);
}

tr:hover {
    background-color: #f0ecec;

}

tr:last-child td {
    border-bottom: none;
    
}


